#servicios_text {
    display: table-cell;
    text-align: right;
    padding-left: 20px;
    padding-top: 30px;
}

#servicios {
    display: table-cell;
    padding-left: 30px;
    padding-top: 40px;
    vertical-align: middle;
    text-align: left;
}

#servicios_title {
    display: block;
    text-align: left;
}

#listado_servicios {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 180%;
}